{% extends '::notifyLayout.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'show.comment'|trans }}</li>
{% endblock %}

{% block header %}
    {{ 'show.comment'|trans }}
{% endblock %}

{% block content %}
    <h1>{{"comment"|trans}}</h1>
    {{ display(entity) }}

    {% set back_path = 'comments' %}
    {% set edit_path = 'comment_edit' %}
    {% set test_comment = 'notify_test_comment' %}
    {% include '::actionbtns.html.twig' %}
{% endblock %}